# Auto detect text files and perform LF normalization
* text=auto

# Unreal Engine specific settings to handle binary files
*.uasset binary
*.umap binary

# Python specific settings to handle text files
*.py text
